<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="CursoDeCSharp_PreparaCursos.Properties.Settings.Consultorio_2_0ConnectionString"
            connectionString="Data Source=PC07\SQLEXPRESS;Initial Catalog=Consultorio-2.0;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="CursoDeCSharp_PreparaCursos.Properties.Settings.ControleDespesas_MARLONConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ControleDespesas-MARLON;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="CursoDeCSharp_PreparaCursos.Properties.Settings.ControleDespesasMBConnectionString"
            connectionString="Data Source=localhost\SQLEXPRESS;Initial Catalog=ControleDespesasMB;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>